Source: cumulus-ml2
Section: net
Priority: extra
Maintainer: dev-support <dev-support@cumulusnetworks.com>
Build-Depends:
	debhelper (>= 7.0.0),
	python-all (>= 2.6.6-3),
	python-setuptools
Standards-Version: 3.9.3
X-Python-Version: >= 2.7
#Vcs-Git: git://git.debian.org/collab-maint/cumulus-ml2.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cumulus-ml2.git;a=summary

Package: cumulus-ml2-driver
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}
Description: Mechanism ML2 Driver for Cumulus ML2 Plugin
 This is installed on the network node where the Neutron server runs.
 The configuration file located in /etc/neutron/plugins/ml2/ml2_cumulus.ini
 has sample configs and short help section.
